<footer>
<div style="position: relative; width: 100%; padding-top: 56.25%;"> <!-- 16:9 aspect ratio -->
  <iframe 
    src="https://daa9e913.sibforms.com/serve/MUIFADFsJpA0w6YQHk9Zspu3rr1DtxWwYni7sR5zWyuyqfRj-Jofkd1s47w2q5RwAan_EkqccFroyghPZ2toxuLhqa28eVP4bPY3pcOry-J1mIuEH4ZJwPaVftcjQmeR_2MlIBE5Qct9qmsZ1cC8xUC_6AEffv3EbwjcK1Dd07Ap2L0jnUj17kaHIv5F-C2oXckshGsP3qJCEvN3ZQ=="
    frameborder="0" 
    scrolling="auto" 
    allowfullscreen
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
  </iframe>
</div>


  <small>&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
    {{ site.author.name }}. All rights reserved. Also, this site could not be made without <a href="/https://github.com/piazzai/cvless/" target="_blank">cvless</a> + blatantly inspired by <a href="https://turtlely.github.io/" target="_blank">Ryan Tang's site</a></small>
</footer>
